* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  background: -webkit-gradient(linear, left bottom, right top, from(#12172d), to(#242b4e));
  background: linear-gradient(to right top, #12172d, #242b4e);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xv-profile {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  width: 1200px;
  max-width: 100%;
  height: 70%;
  margin: auto;
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xv-profile__navbar {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  width: 25%;
  height: 100%;
  padding: 3rem;
  border-radius: 2rem;
  border-right: 5px solid #b19044;
  -webkit-box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: auto;
}

.xv-profile__avatar {
  border: 3px double #8b743d;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  margin: 0 auto 3rem auto;
}

.xv-profile__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.xv-profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.xv-profile__link a {
  position: relative;
  text-decoration: none;
  font-size: 2.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: transparent;
  background: #12172d;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

.xv-profile__link a:hover, .xv-profile__link a.active {
  background: #b19044;
  -webkit-background-clip: text;
  background-clip: text;
}

.xv-profile__link a::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8b743d), to(#ecdfbf));
  background: linear-gradient(to right, #8b743d, #ecdfbf);
  height: 1px;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.xv-profile__link a:hover::after, .xv-profile__link a.active::after {
  width: 100%;
}

.xv-profile__link a:not(:last-child) {
  margin-bottom: 2rem;
}

.xv-profile__user-account {
  border-radius: 2rem;
  margin-top: auto;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xv-profile__login-btn, .xv-profile__register-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.xv-profile__login-btn {
  background: transparent;
  color: #8b743d;
  margin-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 0 #8b743d;
          box-shadow: 1px 1px 0 #8b743d;
}

.xv-profile__register-btn {
  background: #12172d;
  color: #ecdfbf;
  -webkit-box-shadow: 1px 1px 0 #12172d;
          box-shadow: 1px 1px 0 #12172d;
}

.xv-profile__body {
  padding: 3rem;
  width: 100%;
}

.xv-profile__title {
  font-size: 2.3rem;
  color: #8b743d;
  text-decoration: underline;
  letter-spacing: 3px;
  word-spacing: 3px;
  word-break: break-all;
  margin-right: 2rem;
}

.xv-profile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.xv-profile__search {
  outline: none;
  border: 1px dotted #8b743d;
  color: #8b743d;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 5px;
  height: 4rem;
  width: 30%;
  padding: 7px;
}

.xv-profile__search::-webkit-input-placeholder {
  color: #887f6b;
}

.xv-profile__search:-ms-input-placeholder {
  color: #887f6b;
}

.xv-profile__search::-ms-input-placeholder {
  color: #887f6b;
}

.xv-profile__search::placeholder {
  color: #887f6b;
}

.xv-profile__content {
  position: relative;
  background: white;
  background: linear-gradient(135deg, white 0%, white 97%, rgba(0, 212, 255, 0) 97%);
  color: #12172d;
  padding: 2rem;
  height: calc(100% - 70px);
  border-radius: 1rem;
}

.xv-profile__content::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #8b743d 85%, #e0d6d6 100%);
  border-radius: 1rem;
  z-index: -1;
}

.xv-profile__content p {
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 2rem;
}

.circle {
  position: absolute;
  background: rgba(139, 116, 61, 0.5);
  border-radius: 50%;
}

.circle1 {
  width: 20rem;
  height: 20rem;
  bottom: 10%;
  left: 12%;
  -webkit-animation: circle1 10s .3s infinite;
          animation: circle1 10s .3s infinite;
}

.circle2 {
  width: 25rem;
  height: 25rem;
  top: 10%;
  right: 10%;
  -webkit-animation: circle2 10s .6s infinite;
          animation: circle2 10s .6s infinite;
}

.circle3 {
  width: 10rem;
  height: 10rem;
  top: 55%;
  left: 55%;
  -webkit-animation: circle3 10s .9s infinite;
          animation: circle3 10s .9s infinite;
}

@-webkit-keyframes circle1 {
  0% {
    bottom: 10%;
    left: 12%;
  }
  25% {
    bottom: 5%;
    left: 17%;
  }
  45% {
    bottom: 10%;
    left: 12%;
  }
  85% {
    bottom: 17%;
    left: 5%;
  }
  100% {
    bottom: 10%;
    left: 12%;
  }
}

@keyframes circle1 {
  0% {
    bottom: 10%;
    left: 12%;
  }
  25% {
    bottom: 5%;
    left: 17%;
  }
  45% {
    bottom: 10%;
    left: 12%;
  }
  85% {
    bottom: 17%;
    left: 5%;
  }
  100% {
    bottom: 10%;
    left: 12%;
  }
}

@-webkit-keyframes circle2 {
  0% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 5%;
    right: 15%;
  }
  45% {
    top: 10%;
    right: 10%;
  }
  85% {
    top: 15%;
    right: 5%;
  }
  100% {
    top: 10%;
    right: 10%;
  }
}

@keyframes circle2 {
  0% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 5%;
    right: 15%;
  }
  45% {
    top: 10%;
    right: 10%;
  }
  85% {
    top: 15%;
    right: 5%;
  }
  100% {
    top: 10%;
    right: 10%;
  }
}

@-webkit-keyframes circle3 {
  0% {
    top: 55%;
    left: 55%;
  }
  25% {
    top: 50%;
    left: 60%;
  }
  45% {
    top: 55%;
    left: 55%;
  }
  85% {
    top: 60%;
    left: 50%;
  }
  100% {
    top: 55%;
    left: 55%;
  }
}

@keyframes circle3 {
  0% {
    top: 55%;
    left: 55%;
  }
  25% {
    top: 50%;
    left: 60%;
  }
  45% {
    top: 55%;
    left: 55%;
  }
  85% {
    top: 60%;
    left: 50%;
  }
  100% {
    top: 55%;
    left: 55%;
  }
}
/*# sourceMappingURL=main.css.map */